h1 {
	font-family: Sora, sans-serif;
	font-size: 4vw;
	text-align: center;
	color: #AC3B61;

	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 10px;
}

.personal-info {
	text-align: center;
	margin-top: 1.3em;
	padding-bottom: 0;
	margin-bottom: 0;
}

img {
	display: inline-block;
	object-fit: cover;
	border-radius: 50%;
	height: 10.00em;
  	width: 10.00em;
}

.header-secondary {
	text-align: center;
	color: #352977;
	margin-bottom: 7px;
}

body {
	font-size: 1.00em;
	padding: 1.3em;
	color: #AC3B61;
	background-color: #F5EEEC;
}

h4 {
	font-size: 1.00em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

.icons {
	text-decoration: none;
	color: #352977;
	font-size: 1.00em;
}

.page-content {
	display: block;
	margin: auto;

	font-family: Sora, sans-serif;
	font-size: 1.00em;
	padding: 2em;
	line-height: 1.5em;
	text-align: center;
	color: #AC3B61;

	width: 70vw;
	overflow: auto;
}

.child1 {
	width: 49%;
    float: left;
}
.child2 {
	width: 49%;
    float: right;
}



